
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .d1 {
        @apply bg-red-300/70 !important;
    }
    .d2 {
        @apply bg-blue-300/70 !important;
    }
    .d3 {
        @apply bg-green-300/70 !important;
    }
    .d4 {
        @apply bg-orange-300/70 !important;
    }
    .d5 {
        @apply bg-pink-300/70 !important;
    }
}

.timeout {
    animation: loading 15s forwards;
}

@keyframes loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


.emoji {
    animation: animate 5s forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    40%,60%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

